<!DOCTYPE html>
<html>
  <head>
    <title>Newapp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
      <%= link_to 'Logo ', root_path, :class => 'navbar-brand' %>
      <ul class="navbar-nav">
        <li class="nav-item">
          <%= link_to 'Home ', root_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Article', articles_path, :class => 'nav-link' %>
        </li>
        <li class="nav-item">
          <%= link_to 'Contact Us', contacts_index_path, :class => 'nav-link' %>
        </li>
      </ul>
    </nav>
    <hr />
    <div class="main">
      <br />
      <%= yield %>
    </div>
    <!-- Footer -->
    <footer class="py-3 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer>
  </body>
</html>
